html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#page-wrapper {
  height: 100%;
  position: relative;
}

#control-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 235px;
  height: 100%;
  background: cyan;
}

#game-container {
  margin-left: 235px;
  background: black;
  min-height: 100%;
  padding: 0px;
  border: 0px;
  position: relative;
}

#game-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
